USE [BillCollectionDB]
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_Int_Int]    Script Date: 24.12.2025 02:48:02 ******/
CREATE TYPE [dbo].[Type_Dictionary_Int_Int] AS TABLE(
	[Key] [int] NULL,
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_Object]    Script Date: 24.12.2025 02:48:02 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_Object] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [sql_variant] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_Dictionary_String_String]    Script Date: 24.12.2025 02:48:02 ******/
CREATE TYPE [dbo].[Type_Dictionary_String_String] AS TABLE(
	[Key] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL
)
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Surname] [nvarchar](100) NOT NULL,
	[IdentityNo] [nvarchar](11) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Address] [nvarchar](500) NULL,
	[IsActive] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTypes]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTypes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[BillTypeID] [int] NOT NULL,
	[BillDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[IsPaid] [bit] NULL,
	[CreatedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_Bills_Detailed]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Bills_Detailed]
WITH SCHEMABINDING
AS
SELECT 
    b.ID,
    b.Amount,
    b.BillDate,
    b.DueDate,
    b.IsPaid,
    c.ID AS CustomerID,
    c.Name AS CustomerName,
    c.Surname AS CustomerSurname,
    c.IdentityNo,
    bt.Name AS BillTypeName
FROM [dbo].[Bills] b
INNER JOIN [dbo].[Customers] c ON b.CustomerID = c.ID
INNER JOIN [dbo].[BillTypes] bt ON b.BillTypeID = bt.ID;
GO
/****** Object:  Table [dbo].[Logs_Table]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs_Table](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[Operation] [nvarchar](20) NOT NULL,
	[RecordID] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[LogDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Logs_Table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BillID] [int] NOT NULL,
	[PaymentDate] [datetime2](7) NULL,
	[AmountPaid] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Logs_Table] ADD  DEFAULT (getdate()) FOR [LogDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_BillTypes] FOREIGN KEY([BillTypeID])
REFERENCES [dbo].[BillTypes] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_BillTypes]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([ID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Customers]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bills] FOREIGN KEY([BillID])
REFERENCES [dbo].[Bills] ([ID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bills]
GO
/****** Object:  StoredProcedure [dbo].[sp_Bills_Add]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Fatura Ekleme SP
CREATE PROCEDURE [dbo].[sp_Bills_Add]
    @CustomerID int,
    @BillTypeID int,
    @BillDate date,
    @DueDate date,
    @Amount decimal(18,2),
    @IsPaid bit = 0
AS
BEGIN
    INSERT INTO [dbo].[Bills] (CustomerID, BillTypeID, BillDate, DueDate, Amount, IsPaid)
    VALUES (@CustomerID, @BillTypeID, @BillDate, @DueDate, @Amount, @IsPaid);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Bills_Delete]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Fatura Silme SP
CREATE PROCEDURE [dbo].[sp_Bills_Delete]
    @ID int
AS
BEGIN
    DELETE FROM [dbo].[Bills] WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Bills_List]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[sp_Bills_List] ******/
CREATE   PROCEDURE [dbo].[sp_Bills_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    -- 1. Sayfalama Değerlerini Al (Varsayılanlar)
    DECLARE @PageNumber INT = 1
    DECLARE @PageSize INT = 1000 -- Şimdilik bol kepçe

    -- Pagination tablosundan değerleri okumaya çalış
    SELECT TOP 1 @PageNumber = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageNumber'
    SELECT TOP 1 @PageSize = CAST([Value] AS INT) FROM @pagination WHERE [Key] = 'PageSize'
    
    -- Güvenlik önlemi (Sayfa 0 veya eksi olamaz)
    IF @PageNumber < 1 SET @PageNumber = 1

    -- 2. Sorguyu Çalıştır
    SELECT 
        -- Toplam kaç fatura var? (Sayfalama için şart)
        (SELECT COUNT(*) FROM [dbo].[Bills]) AS TotalRecordCount,
        
        -- Fatura Bilgileri
        B.ID,
        B.CustomerID,
        B.BillTypeID,
        B.BillDate,
        B.DueDate,
        B.Amount,
        B.IsPaid,
        
        -- JOIN ile Gelen İsimler (Null gelirse '-' yazsın diye ISNULL kullandık)
        ISNULL(C.Name + ' ' + C.Surname, 'Bilinmeyen Müşteri') AS CustomerName,
        ISNULL(C.IdentityNo, '') AS IdentityNo,
        ISNULL(BT.Name, 'Tanımsız Tür') AS BillTypeName

    FROM [dbo].[Bills] B
    -- LEFT JOIN: Müşteri silinmiş olsa bile faturayı göster!
    LEFT JOIN [dbo].[Customers] C ON B.CustomerID = C.ID
    LEFT JOIN [dbo].[BillTypes] BT ON B.BillTypeID = BT.ID
    
    -- FİLTRELEME (İleride arama kutusu için lazım olacak)
    -- WHERE (@aranacakKelime IS NULL OR C.Name LIKE '%' + @aranacakKelime + '%')

    -- SIRALAMA: En son eklenen en üstte (DESC)
    ORDER BY B.ID DESC
    
    -- SAYFALAMA (SQL Server 2012 ve sonrası için modern yöntem)
    OFFSET (@PageNumber - 1) * @PageSize ROWS
    FETCH NEXT @PageSize ROWS ONLY
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Bills_Update]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Fatura Güncelleme SP
CREATE PROCEDURE [dbo].[sp_Bills_Update]
    @ID int,
    @CustomerID int,
    @BillTypeID int,
    @BillDate date,
    @DueDate date,
    @Amount decimal(18,2),
    @IsPaid bit
AS
BEGIN
    UPDATE [dbo].[Bills]
    SET CustomerID = @CustomerID, 
        BillTypeID = @BillTypeID, 
        BillDate = @BillDate, 
        DueDate = @DueDate, 
        Amount = @Amount, 
        IsPaid = @IsPaid
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_BillTypes_List]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Listeleme Prosedürünü Garantiye Alalım (Hatayı Önlemek İçin)
CREATE   PROCEDURE [dbo].[sp_BillTypes_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    -- Basitçe hepsini getirsin, filtreyle uğraşmasın
    SELECT 
        999 AS TotalRecordCount, 
        *
    FROM [dbo].[BillTypes]
    ORDER BY ID ASC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_Add]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- B. Müşteri Ekleme SP
CREATE PROCEDURE [dbo].[sp_Customers_Add]
    @Name nvarchar(100),
    @Surname nvarchar(100),
    @IdentityNo nvarchar(11),
    @Phone nvarchar(20) = NULL,
    @Email nvarchar(100) = NULL,
    @Address nvarchar(500) = NULL
AS
BEGIN
    INSERT INTO [dbo].[Customers] (Name, Surname, IdentityNo, Phone, Email, Address)
    VALUES (@Name, @Surname, @IdentityNo, @Phone, @Email, @Address);
    
    SELECT CAST(SCOPE_IDENTITY() AS INT) AS ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_Delete]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- D. Müşteri Silme SP
CREATE PROCEDURE [dbo].[sp_Customers_Delete]
    @ID int
AS
BEGIN
    DELETE FROM [dbo].[Customers] WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_List]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_Customers_List]
    @pagination [dbo].[Type_Dictionary_String_String] READONLY,
    @where [dbo].[Type_Dictionary_String_String] READONLY
AS
BEGIN
    -- TOP komutu SELECT'ten hemen sonra gelmeli.
    -- Bu kod, veritabanındaki ilk 100 müşteriyi ne olursa olsun getirir.
    
    SELECT TOP 100
        999 AS TotalRecordCount, 
        *
    FROM [dbo].[Customers]
    ORDER BY ID DESC
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Customers_Update]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- C. Müşteri Güncelleme SP
CREATE PROCEDURE [dbo].[sp_Customers_Update]
    @ID int,
    @Name nvarchar(100),
    @Surname nvarchar(100),
    @IdentityNo nvarchar(11),
    @Phone nvarchar(20) = NULL,
    @Email nvarchar(100) = NULL,
    @Address nvarchar(500) = NULL,
    @IsActive bit
AS
BEGIN
    UPDATE [dbo].[Customers]
    SET Name = @Name, Surname = @Surname, IdentityNo = @IdentityNo, 
        Phone = @Phone, Email = @Email, Address = @Address, IsActive = @IsActive
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Logs_Add]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- C# Tarafından Log Atmak İçin Prosedür
CREATE   PROCEDURE [dbo].[sp_Logs_Add]
    @TableName NVARCHAR(50),
    @Operation NVARCHAR(20),
    @RecordID INT = 0,
    @Description NVARCHAR(MAX)
AS
BEGIN
    INSERT INTO [dbo].[Logs_Table] 
    (TableName, Operation, RecordID, Description, LogDate)
    VALUES 
    (@TableName, @Operation, @RecordID, @Description, GETDATE())
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Stats_BillDistributions]    Script Date: 24.12.2025 02:48:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Grafik İçin Veri Çeken Prosedür
CREATE   PROCEDURE [dbo].[sp_Stats_BillDistributions]
AS
BEGIN
    SELECT 
        BT.Name AS [Label],          -- Örn: Elektrik
        ISNULL(SUM(B.Amount), 0) AS [Value] -- Örn: 1500.00
    FROM [dbo].[BillTypes] BT
    LEFT JOIN [dbo].[Bills] B ON BT.ID = B.BillTypeID
    GROUP BY BT.Name
END
GO
